<div class="headerDiv" >
<span class = "headerTitle">Property Evaluation Application</span>
</div>
<br>
<div>
    <div class="row" style="margin-left: 450px;">
        <div class="col-md-3" style="padding-left: 20px;">
            <button class="btn-primary" (click)="homepage()">Create Applications</button>
        </div>
        <div class="col-md-3" style="padding-left: 20px; margin-left: -30px;" >
            <button class="btn-primary" (click)="viewpage()">View Applications</button> 
        </div>
    </div>
    
    <!-- <span style="float: right;color: white;margin-right: 10px;">
        <span>  
            <button class="btn-primary">Create Applications</button>
        </span>
    </span>
    <span style="float: left;color: white;margin-right: 10px;">
        <span>  
        <button class="btn-primary">View Applications</button> </span>
    </span>  -->
</div>
<br>
<router-outlet></router-outlet>