<div class="headerDiv" >
<span class = "headerTitle">Property Evaluation Application</span>
</div>
<br>
<div>
    <div class="row" style="float: right;">
        <div *ngIf="view" class="col-md-4" >
            <button class="btn-primary" (click)="homepage()" style="padding-left: 40px;padding-right: 40px;">Create Applications</button>
        </div>
        <div *ngIf="!view" class="col-md-4" >
            <button class="btn-primary" (click)="viewpage()" style="padding-left: 40px;padding-right: 40px;">View Applications</button>
        </div>
    </div>
</div>
<br>
<router-outlet></router-outlet>